transformers>=4.43
protobuf
pandas
matplotlib
unidecode
psutil
shapely
seaborn
scikit-learn
scikit-image
dropbox
pynvml>=11.4
pika>=1.3
paho-mqtt>=1.6
pyyaml>=6.0
cryptography==42.0.7
gql
requests_toolbelt
minio
cryptography
accelerate==0.30.1
bitsandbytes
tokenizers>=0.14.1
#sentencepiece
pyarrow>=15
onnxsim
onnxruntime
fastapi
uvicorn
pydantic
bs4
web3
