transformers
protobuf
opencv-python-headless
pandas
matplotlib
unidecode
psutil
shapely
seaborn
scikit-learn
scikit-image
dropbox
pynvml
pika
paho-mqtt
gql
requests_toolbelt
minio
cryptography
accelerate
bitsandbytes
#sentencepiece
pyarrow
onnx
onnxsim
onnxruntime=="1.17.1"
fastapi
uvicorn
pydantic
bs4
web3
